.topnav {
    height: 80px;
    width: 100%;
    overflow: hidden;
    background-image: linear-gradient(#109D58, #3c795b);
    /* background-color: #109D58; */
}

.topnav img {
    position: absolute;
    left: 0.89%;
    right: 92.65%;
    top: 1.99%;
    bottom: 89.54%;
    height: 55px;
    width: 55px;
}

body {
    margin: 0;
}

.topnav a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    margin-top: 10px;
    margin-right: 30px;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Segoe UI';
}

.topnav a:hover {
    color: #69f0ae;
}

.topnav a.active {
    color: #fff
}

.topnav input[type=text] {
    float: left;
    padding: 6px;
    border: solid;
    border-width: 1.2px;
    border-radius: 8px;
    border-color: #69f0ae;
    margin-top: 65px;
    margin-left: 356px;
    margin-right: 16px;
    font-size: 17px;
    width: 40%;
    font-family: 'Segoe UI';
}

.hero {
    padding-top: 4em;
    padding-left: 2em;
    font-family: 'Segoe UI';
    color: #0f1115;
    width: 100%;
    overflow-x: hidden;
    max-width: 100vw;
    font-weight: 400;
    margin: 0;
    padding-bottom: 5em;
}

.gridview {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 1em;
}

@media screen and (max-width: 600px) {
    .topnav a,
    .topnav input[type=text] {
        position: absolute;
        left: 25.77%;
        right: 25.77%;
        top: 7.15%;
        bottom: 88.37%;
    }
    .topnav input[type=text] {
        border: 1px solid #ccc;
    }
}

a {
    color: #fff;
    text-align: center;
    text-decoration: none;
}

img {
    height: 300px;
    width: 300px;
    border-radius: 15px;
}

li {
    width: 250px;
    height: 200px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    /* transition: 0.3s; */
    /* background: #fff; */
    text-align: center;
    border-radius: 8px;
    list-style-type: none;
    padding: 2px 16px;
    margin-left: 16px;
    margin-bottom: 10px;
}

li.lagos {
    background: #000;
}


/* li:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    background: #fff;
} */

filter {
    margin-top: 4em;
}

button {
    background-color: white;
    width: 4em;
    height: 2em;
    font-size: 15px;
    margin-top: 1em;
    font-family: 'Segoe UI';
    border-radius: 8px;
    border: 2px solid #69f0ae;
}

button:hover {
    background: #69f0ae;
    border: #fff;
    color: #fff;
}

.title {
    margin-left: 5em;
}