.topnav {
    overflow: hidden;
    background-color: #109D58;
}

.topnav a {
    float: right;
    display: block;
    color: black;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav a:hover {
    color: #69f0ae;
}

.topnav a.active {
    color: #fff
}

.topnav input[type=text] {
    float: left;
    padding: 6px;
    border: solid;
    border-width: 1.2px;
    border-radius: 8px;
    border-color: #69f0ae;
    margin-top: 8px;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 17px;
    width: 40%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hero {
    padding-top: 1em;
    font-family: Arial, Helvetica, sans-serif;
    color: #0f1115;
    width: 100%;
    overflow-x: hidden;
    max-width: 100vw;
    font-weight: 400;
    margin: 0;
    padding-bottom: 5em;
}

.gridview {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 1em;
}

@media screen and (max-width: 600px) {
    .topnav a,
    .topnav input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .topnav input[type=text] {
        border: 1px solid #ccc;
    }
}

a {
    color: #fff;
    text-align: center;
    text-decoration: none;
}

img {
    height: 300px;
    width: 300px;
    border-radius: 15px;
}

li {
    width: 250px;
    height: 200px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    /* transition: 0.3s; */
    /* background: #fff; */
    text-align: center;
    border-radius: 8px;
    list-style-type: none;
    padding: 2px 16px;
    margin-left: 16px;
    margin-bottom: 10px;
}

li.lagos {
    background: #000;
}


/* li:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    background: #fff;
} */

filter {
    margin-top: 4em;
}

button {
    background-color: white;
    width: 4em;
    height: 2em;
    font-size: 15px;
    margin-top: 1em;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
    border: 2px solid #69f0ae;
}

button:hover {
    background: #69f0ae;
    border: #fff;
    color: #fff;
}

.title {
    margin-left: 5em;
}