.title {
    height: 180px;
    color: rgb(247, 128, 0);
    font: outline;
    outline-color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 4em;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 20%;
}

img {
    height: 300px;
    width: auto;
    /* margin: 10px;
    border-radius: 15px; */
}

button {
    background-color: rgb(247, 128, 0);
    width: 10em;
    height: 4em;
    color: #fff;
    font-size: 15px;
    align-content: center;
    font-family: 'Segoe UI';
    border-radius: 25px;
}

button:hover {
    background: #fff;
    border-color: rgb(247, 128, 0);
    border-width: 1.2px;
    border: solid;
    color: #000;
}

h2 {
    font-family: 'Segoe UI';
}

.city_img {
    align-self: center;
}

.attributes {
    text-align: left;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 1em;
    margin: 30px;
}

.stats {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: .5em;
    margin-top: 100px;
    margin-left: 20px;
}

.stats h2 {
    text-align: left;
}

.business p {
    color: #c5ba1c;
    font-weight: bold;
    font-family: 'Segoe UI';
    font-size: 30px;
    text-align: start;
}

.innovation p {
    color: #ff0033;
    font-weight: bold;
    font-family: 'Segoe UI';
    font-size: 30px;
    text-align: start;
}

.marketsize p {
    color: #ff0033;
    font-weight: bold;
    font-family: 'Segoe UI';
    font-size: 30px;
    text-align: start;
}

.financialsystem p {
    color: #ff0033;
    font-weight: bold;
    font-family: 'Segoe UI';
    font-size: 30px;
    text-align: start;
}

.labourmarket p {
    color: #c5ba1c;
    font-weight: bold;
    font-family: 'Segoe UI';
    font-size: 30px;
    text-align: start;
}

.productmarket p {
    color: #c5ba1c;
    font-weight: bold;
    font-family: 'Segoe UI';
    font-size: 30px;
    text-align: start;
}

.skills p {
    color: #ff0033;
    font-weight: bold;
    font-family: 'Segoe UI';
    font-size: 30px;
    text-align: start;
}

.health p {
    color: #ff0033;
    font-weight: bold;
    font-family: 'Segoe UI';
    font-size: 30px;
    text-align: start;
}

.marcoeconomicstability p {
    color: #7cdd2d;
    font-weight: bold;
    font-family: 'Segoe UI';
    font-size: 30px;
    text-align: start;
}

.ictadoption p {
    color: #ff0033;
    font-weight: bold;
    font-family: 'Segoe UI';
    font-size: 30px;
    text-align: start;
}

.infrastructure p {
    color: #ff0033;
    font-weight: bold;
    font-family: 'Segoe UI';
    font-size: 30px;
    text-align: start;
}

.institutions p {
    color: #ff0033;
    font-weight: bold;
    font-family: 'Segoe UI';
    font-size: 30px;
    text-align: start;
}

@media screen and (max-width: 600px) {
    .title {
        height: 240px;
        font-family: 'Segoe UI';
        margin-top: 1em;
        margin-right: 90px;
    }
    .attributes {
        grid-template-columns: auto;
    }
    .stats {
        grid-template-columns: auto;
    }
    p {
        text-align: center;
    }
    h2 {
        text-decoration: underline;
    }
}