    .title {
        height: 180px;
        color: rgb(0, 136, 80);
        font: outline;
        outline-color: black;
        font-family: 'Segoe UI';
        margin-top: 4em;
        text-align: center;
        background-repeat: no-repeat;
        background-size: 20%;
    }
    
    button {
        background-color: rgb(0, 136, 80);
        width: 10em;
        height: 4em;
        color: #fff;
        font-size: 15px;
        align-content: center;
        font-family: 'Segoe UI';
        border-radius: 25px;
    }
    
    button:hover {
        background: #fff;
        border-color: rgb(0, 136, 80);
        border-width: 1.2px;
        border: solid;
        color: #000;
    }
    
    h2 {
        font-family: 'Segoe UI'
    }
    
    .city_img {
        align-self: center;
    }
    
    .attributes {
        text-align: left;
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-row-gap: 1em;
        margin: 30px;
    }
    
    .population p {
        font-family: 'Segoe UI';
        font-size: 30px;
    }
    
    .startingup p {
        color: #00ff55;
        font-weight: bold;
        font-family: 'Segoe UI';
        font-size: 30px;
        align-self: center
    }
    
    .taxes p {
        color: #c5ba1c;
        font-weight: bold;
        font-family: 'Segoe UI';
        font-size: 30px;
        align-self: center
    }
    
    .propertyreg p {
        color: #ff0033;
        font-weight: bold;
        font-family: 'Segoe UI';
        font-size: 30px;
        align-self: center
    }
    
    .permits p {
        color: #c5ba1c;
        font-weight: bold;
        font-family: 'Segoe UI';
        font-size: 30px;
        align-self: center
    }
    
    .electricity p {
        color: #c5ba1c;
        font-weight: bold;
        font-family: 'Segoe UI';
        font-size: 30px;
        align-self: center
    }
    
    .contracts p {
        color: #c5ba1c;
        font-weight: bold;
        font-family: 'Segoe UI';
        font-size: 30px;
        align-self: center
    }
    
    .credit p {
        color: #00ff55;
        font-weight: bold;
        font-family: 'Segoe UI';
        font-size: 30px;
        align-self: center
    }
    
    img {
        height: 300px;
        width: 100%;
        /* margin: 10px;
        border-radius: 15px; */
    }
    
    #myBar {
        width: 1%;
        height: 30px;
        background-color: green;
    }
    
    #myProgress {
        width: 100%;
        background-color: grey;
    }
    
    @media screen and (max-width: 600px) {
        .title {
            height: 200px;
            font-family: 'Segoe UI';
            margin-top: 1em;
            margin-right: 90px;
        }
        .attributes {
            grid-template-columns: auto;
        }
        p {
            text-align: center;
            text-decoration: underline;
        }
        h2 {
            /* text-decoration: underline; */
        }
    }
    
    #rank {
        text-align: left;
        color: #fff;
        text-shadow: 2px 2px #3c795b;
        text-decoration: underline;
    }