.topnav {
    height: 590px;
    width: 100%;
    overflow: hidden;
    display: flexbox;
    position: relative;
    /* background-image: linear-gradient(#109D58, #3c795b); */
    background-color: #fff;
}

nav {
    float: right;
    display: block;
    color: black;
    text-align: center;
    margin-top: 10px;
    margin-right: 30px;
    padding: 14px 16px;
    text-shadow: 0px 0px #3c795b;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Segoe UI';
}

.topnav #links.a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    margin-top: 10px;
    margin-right: 30px;
    padding: 14px 16px;
    text-shadow: 0px 0px #3c795b;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Segoe UI';
}

.topnav img {
    position: absolute;
    left: 0.89%;
    right: 92.65%;
    top: 1.99%;
    bottom: 89.54%;
    height: 55px;
    width: 55px;
}

body {
    margin: 0;
    width: 100%
}

.topnav a {
    color: black;
    text-align: center;
    margin-top: 10px;
    margin-right: 30px;
    padding: 14px 16px;
    text-shadow: 0px 0px #3c795b;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Segoe UI';
}

.topnav #name {
    margin-left: 43px;
    font-size: 15px;
}

.topnav a:hover {
    color: #69f0ae;
}

.topnav a.active {
    color: #109D58
}

.topnav input[type=text] {
    float: left;
    padding: 6px;
    border: solid;
    border-width: 1.2px;
    border-radius: 8px;
    border-color: #69f0ae;
    margin-top: 25px;
    margin-left: 356px;
    margin-right: 16px;
    font-size: 17px;
    width: 40%;
    font-family: 'Segoe UI';
}

.hero {
    padding-top: 4em;
    padding-left: 2em;
    font-family: 'Segoe UI';
    color: #0f1115;
    width: 100%;
    overflow-x: hidden;
    max-width: 100vw;
    font-weight: 400;
    margin: 0;
    padding-bottom: 5em;
}

.gridview {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 1em;
}

@media screen and (max-width: 600px) {
    .topnav {
        height: 90px;
    }
    .topnav a,
    .topnav input[type=text] {
        position: absolute;
        left: 25.77%;
        right: 25.77%;
        top: 7.15%;
        bottom: 88.37%;
    }
    .topnav #links {
        display: block;
    }
    .topnav input[type=text] {
        border: 1px solid #ccc;
    }
    .gridview {
        display: grid;
        grid-template-columns: auto;
        grid-area: auto;
        grid-row-gap: 1em;
    }
}

.hero a {
    color: #fff;
    text-shadow: 2px 2px #3c795b;
    text-align: center;
    text-decoration: none;
}

img {
    height: 300px;
    width: 300px;
    margin: 10px;
    border-radius: 15px;
}

li {
    width: 250px;
    height: 200px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5); */
    /* transition: 0.3s; */
    /* background: #fff; */
    text-align: center;
    border-radius: 8px;
    list-style-type: none;
    padding: 2px 16px;
    background-repeat: no-repeat;
    margin-left: 16px;
    margin-bottom: 10px;
}

li.lagos {
    background: #000;
}

li:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
    background: #fff;
}

filter {
    margin-top: 4em;
}

button {
    background-color: rgb(0, 150, 136);
    width: 10em;
    height: 4em;
    color: #fff;
    font-size: 15px;
    margin-left: 350px;
    margin-top: 30em;
    font-family: 'Segoe UI';
    border-radius: 25px;
}

button:hover {
    background: #69f0ae;
    border: #fff;
    color: #fff;
}

.title {
    margin-left: 5em;
}

@viewport {
    width: device-width;
    zoom: 1.0;
}

.banner-text p {
    position: absolute;
    width: 812px;
    height: 550px;
    left: 64px;
    padding-left: 40px;
    top: 201px;
    font-family: Segoe UI;
    font-size: 34px;
    /* line-height: 64px; */
    color: #000000;
}

.hero-box {
    height: 100%;
}

.hero-image {
    position: absolute;
    width: 245px;
    height: 178px;
    left: 803px;
    top: 45px;
}

h1 {
    margin-top: 90px;
    margin-left: 200px;
}