    .topnav {
        height: 590px;
        width: 100%;
        overflow: hidden;
        display: flexbox;
        position: relative;
        /* Full width */
        /* background-image: linear-gradient(#109D58, #3c795b); */
        background-color: #fff;
    }
    
    nav {
        float: right;
        display: block;
        color: black;
        text-align: center;
        margin-top: 10px;
        margin-right: 30px;
        padding: 14px 16px;
        text-shadow: 0px 0px #3c795b;
        text-decoration: none;
        font-size: 14px;
        font-family: 'Segoe UI', sans-serif;
    }
    
    .topnav #links.a {
        float: right;
        display: block;
        color: black;
        text-align: center;
        margin-top: 10px;
        margin-right: 30px;
        padding: 14px 16px;
        text-shadow: 0px 0px #3c795b;
        text-decoration: none;
        font-size: 18px;
        font-family: 'Segoe UI';
    }
    
    .topnav #links a:active {
        color: #109D58
    }
    
    .topnav img {
        position: absolute;
        left: 0.89%;
        right: 92.65%;
        top: 1.99%;
        bottom: 89.54%;
        height: 55px;
        width: 55px;
    }
    
    body {
        margin: 0;
        width: 100%;
        position: absolute;
        box-sizing: border-box;
        transform-origin: 0 0;
        -moz-transform-origin: 0 0;
        -o-transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }
    
    .topnav a {
        color: black;
        text-align: center;
        margin-top: 10px;
        margin-right: 30px;
        padding: 14px 16px;
        text-shadow: 0px 0px #3c795b;
        text-decoration: none;
        font-size: 14px;
        font-family: 'Segoe UI', sans-serif;
    }
    
    .topnav #name {
        margin-left: 43px;
        font-size: 15px;
    }
    
    .topnav a:hover {
        color: #69f0ae;
    }
    
    .topnav a.active {
        color: #109D58
    }
    
    .topnav input[type=text] {
        float: left;
        padding: 6px;
        border: solid;
        border-width: 1.2px;
        border-radius: 8px;
        border-color: #69f0ae;
        margin-top: 25px;
        margin-left: 356px;
        margin-right: 16px;
        font-size: 17px;
        width: 40%;
        font-family: 'Segoe UI', sans-serif;
    }
    
    .hero {
        padding-left: 2em;
        font-family: 'Segoe UI', sans-serif;
        color: #0f1115;
        width: 100%;
        overflow-x: hidden;
        max-width: 100vw;
        font-weight: 400;
        margin: 0;
        padding-bottom: 5em;
    }
    
    .gridview {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-row-gap: 1em;
    }
    
    @media screen and (width: 1440px) {
        .tabs ul {
            display: inline-block;
            /* background-color: #ff14ff; */
            width: 2050%;
        }
    }
    
    @media screen and (max-width: 1800px) {
        .tabs ul {
            display: inline-block;
            /* background-color: #ff14ff; */
            width: 1750%;
            overflow-x: scroll;
        }
    }
    
    @media screen and (max-width: 600px) {
        .topnav {
            height: 90px;
        }
        .active {
            visibility: hidden;
        }
        .chat {
            visibility: hidden;
        }
        .credits {
            visibility: hidden;
        }
        .topnav a,
        .topnav input[type=text] {
            position: absolute;
            left: 25.77%;
            right: 25.77%;
            top: 7.15%;
            bottom: 88.37%;
        }
        .topnav #links {
            display: block;
        }
        .topnav input[type=text] {
            border: 1px solid #ccc;
        }
        .gridview {
            display: grid;
            grid-template-columns: auto;
            grid-area: auto;
            grid-row-gap: 1em;
        }
        li {
            width: 105px;
            height: 125px;
        }
        .attributes {
            width: 100%;
            margin-top: 30px;
        }
    }
    
    .hero a {
        color: #fff;
        text-shadow: 2px 2px #3c795b;
        text-align: center;
        height: 60px;
        margin: auto;
        text-decoration: none;
    }
    
    li {
        width: 270px;
        height: 225px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
        transition: 0.3s;
        background: #fff;
        text-align: center;
        border-radius: 8px;
        list-style-type: none;
        padding: 2px 16px;
        background-repeat: no-repeat;
        margin-left: 16px;
        margin-bottom: 10px;
    }
    
    li.lagos {
        background: #000;
    }
    
    li:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 37, 17, 0.8);
        background: #fff;
    }
    
    filter {
        margin-top: 4em;
    }
    
    .title {
        margin-left: 5em;
    }
    
    @viewport {
        width: device-width;
        zoom: 1.0;
    }
    
    .banner-text p {
        position: absolute;
        width: 812px;
        height: 550px;
        left: 64px;
        padding-left: 40px;
        top: 201px;
        font-family: Segoe UI;
        font-size: 34px;
        /* line-height: 64px; */
        color: #000000;
    }
    
    .hero-box {
        height: 100%;
    }
    
    .hero-image {
        position: absolute;
        width: 245px;
        height: 178px;
        left: 803px;
        top: 45px;
    }
    
    #disqus_thread {
        padding: 3em;
        display: block;
    }
    
    .rank {
        text-align: left;
        color: #fff;
        text-shadow: 2px 2px #3c795b;
        text-decoration: underline;
    }
    
    .humancapital {
        background-color: rgb(236, 181, 0);
        width: 10em;
        height: 4em;
        color: #fff;
        font-size: 15px;
        align-content: center;
        font-family: 'Segoe UI';
        border-radius: 25px;
    }
    
    .markets {
        background-color: rgb(38, 1, 59);
        width: 10em;
        height: 4em;
        color: #fff;
        font-size: 15px;
        align-content: center;
        font-family: 'Segoe UI';
        border-radius: 25px;
    }
    
    .enablingenvironment {
        background-color: rgb(202, 65, 65);
        width: 10em;
        height: 4em;
        color: #fff;
        font-size: 15px;
        align-content: center;
        font-family: 'Segoe UI';
        border-radius: 25px;
    }
    
    .innovationecosystem {
        background-color: rgb(0, 236, 118);
        width: 10em;
        height: 4em;
        color: #fff;
        font-size: 15px;
        align-content: center;
        font-family: 'Segoe UI';
        border-radius: 25px;
    }
    
    .tabs {
        width: 100%;
        height: auto;
    }
    
    .tabs ul {
        display: inline-block;
        /* background-color: #ff14ff; */
        width: 2350%;
    }
    
    ul {
        display: inline-block;
        font-size: 12px;
        overflow: scroll;
        white-space: nowrap;
    }
    
    .tabs h3 {
        display: inline-block;
        font-size: 15px;
        padding-right: .5em;
        overflow: scroll;
        white-space: nowrap;
    }
    
    .tabs h3 a {
        color: #A9A9A9;
        text-decoration: none;
        display: inline-block;
    }
    
    h3 a:hover {
        color: rgb(0, 236, 118);
        text-decoration: underline;
        text-decoration-color: #109D58;
    }
    
    h3 a:active {
        color: #109D58;
        text-decoration: underline;
        text-decoration-color: #109D58;
    }
    
    .stats h3,
    p {
        padding-left: 1em;
        display: inline-block;
    }
    
    .attributes {
        margin-top: 100px;
        margin-right: 1em;
        width: 20px;
        font-family: 'Segoe UI';
    }